<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="UTF-8">
  <title>Dropdown</title>
    <style>
   	.center {
   		text-align: center;
   		padding: 70px 0;
   	}
   </style>
</head>
    <body>
      <div class="center">
      	<select name = category_list  method="GET" action = "/<name>">
      		<!-- Dropdown list of all inputs of a category -->
          <option value="{{category_list[0]}}" selected>{{category_list[0]}}</option>
          {% for subcategory in category_list[1:] %}
            <option value = "{{subcategory}}">{{subcategory}}</option>
          {% endfor %}
        </select>
      </div>
    </body>
</html>