<html>
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='main.css')}}" /> 
    <style>
   	.center {
   		text-align: center;
   		padding: 50px 0;
   	}
   	.titles {
   		font-family: sans-serif;
   	}
   </style>
</head>
 <!-- connecting the main.css file to this file  in the head -->
    <body>
    	<div class="center">
    		<div class = "titles">
    			<h1>Welcome to CrackFic </h1>
    			<h2>Select a category</h2>
    		</div>
    		<!-- All buttons on front page to redirect -->
		    <form action = "/search" method = "POST">
		    <div class = "fandom_buttons">
		       <p><input type = "submit" name = "searcher" value = "Anime and Manga" /></p>
		       <p><input type = "submit" name = "searcher" value = "Books and Literature" /></p>
		       <p><input type = "submit" name = "searcher" value = "Cartoons and Comics and Graphic Novels" /></p>
		       <p><input type = "submit" name = "searcher" value = "Celebrities and Real People" /></p>
		       <p><input type = "submit" name = "searcher" value = "Movies" /></p>
		       <p><input type = "submit" name = "searcher" value = "Music and Bands" /></p>
          	   <p><input type = "submit" name = "searcher" value = "Other Media" /></p>
           	   <p><input type = "submit" name = "searcher" value = "Theater" /></p>
		       <p><input type = "submit" name = "searcher" value = "TV Shows" /></p>
           	   <p><input type = "submit" name = "searcher" value = "Video Games" /></p>
		       <p><input type = "submit" name = "searcher" value = "Uncategorized Fandoms" /></p>
		    </div>
		       <div class = "other_page">
		       	<input type = "submit" name = "searcher" value = "CONTACT" />
		       	<input type = "submit" name = "searcher" value = "FAQ" />
		       </div>
		    </form>
		</div>
    </body>
</html>