<html>
<head>
	<link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='main.css')}}" /> 
    <style>
   	.center {
   		text-align: center;
   		padding: 70px 0;
   	}
   </style>
</head>
 <!-- connecting the main.css file to this file  in the head -->
    <body>
    	<div class="center">
    		<h1>Welcome to CrackFic</h1>
    		<h2>Select a category</h2>
    		<!-- All buttons on front page to redirect -->
		    <form action = "/search" method = "POST">
		       <p><input type = "submit" name = "searcher" value = "Anime" /></p>
		       <p><input type = "submit" name = "searcher" value = "Books" /></p>
		       <p><input type = "submit" name = "searcher" value = "Cartoons" /></p>
		       <p><input type = "submit" name = "searcher" value = "Comics" /></p>
		       <p><input type = "submit" name = "searcher" value = "Games" /></p>
		       <p><input type = "submit" name = "searcher" value = "Movies" /></p>
		       <p><input type = "submit" name = "searcher" value = "Plays" /></p>
		       <p><input type = "submit" name = "searcher" value = "TV" /></p>
		       <p><input type = "submit" name = "searcher" value = "Misc" /></p>
		    </form>
		</div>
    </body>
</html>